// colors
$white: #fff;
$black: #000;
$badass: #bada55;
$red: #660000;

// Fonts
$small: 0.8rem;
$regular: 1rem;
$huge: 4rem;

$klavika: 'Klavika Regular';
$klavika-bold: 'Klavika Bold';
$klavika-light: 'Klavika Light';
$klavika-medium: 'Klavika Medium';
