@font-face {
    font-family: 'Klavika Bold';
    src: url('klavika-bold-webfont-webfont.woff2') format('woff2'),
         url('klavika-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Klavika Light';
    src: url('klavika-light-webfont-webfont.woff2') format('woff2'),
         url('klavika-light-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Klavika Medium';
    src: url('klavika-medium-webfont-webfont.woff2') format('woff2'),
         url('klavika-medium-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Klavika Regular';
    src: url('klavika-regular-webfont-webfont.woff2') format('woff2'),
         url('klavika-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}